.programm-item__box .programm-img__box {
	width: auto;
	float: none;
	margin: 0px 0px 20px 0px;
}
.news-item-img__box {
	width: auto;
	float: none;
	margin: 0px 0px 20px 0px;
}
.programm-item__box .active-line-programm__box {
	width: 100%;
}