.header{
	/*display: none;*/
}
.header__wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.ul-items__box{
	flex-direction: column;
}
/*//*/
.banner-start__wrapper{
	height: auto;
	& img{
		width: 100%;
	}
}
.our-mission__wrapper{
	& img{
		width: 100%;
	}
}
.banner-title__box{
	font-size: 36px;
	line-height: 1;
}
.news-item-banner__box{
	text-align: center;
}
.home-numeral-item__box{
	text-align: center;
}
.copyright__box{
	flex-direction: column;
	align-items: flex-start;
}
.footer-inputs__box{
	margin-bottom: 30px;
}