extends ../default.pug
block pageContent
	include ../templates/header.pug
	section.banner-start__wrapper
		.container
			.row
				.col-md-6
					.banner-first__box
						h1.banner-title__box Ми благодійний #[br]фонд «Благомай»
						p.banner-description__box Основний напрямок благодійної діяльності фонду - допомога дітям,
							| що знаходяться в дитячих будинках та соціальна адаптація таких дітей до реального життя.
						.banner-group-btn__box
							a(href="#").our-programms__button Наші активні програми
							a(class="help__button" href="") Допомогти
				.col-md-6
					.banner-start__box-img
						img(src="img/angel.png", alt="")
	section.type-working__wrapper
		.container
			.row
				.col-md-12
					h2.type-working__title Види співпраці
				.col-md-4.col-sm-6
					.type-working__item
						.type-working__itembox-img
							img(src="img/photostock.png", alt="")
							.type-working__item-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut, perferendis delectus eius ad neque nesciunt. Recusandae quae, sint illo corporis non dolor ipsum. Consequuntur necessitatibus reprehenderit animi obcaecati, dolorem quis quo, nemo, quasi repudiandae ipsam exercitationem. Sunt, laboriosam
						.type-working__item-title Благодійні акції
				.col-md-4.col-sm-6
					.type-working__item
						.type-working__itembox-img
							img(src="img/photostock.png", alt="")
							.type-working__item-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut, perferendis delectus eius ad neque nesciunt. Recusandae quae, sint illo corporis non dolor ipsum. Consequuntur necessitatibus reprehenderit animi obcaecati, dolorem quis quo, nemo, quasi repudiandae ipsam exercitationem. Sunt, laboriosam
						.type-working__item-title Благодійні акції
				.col-md-4.col-sm-6
					.type-working__item
						.type-working__itembox-img
							img(src="img/photostock.png", alt="")
							.type-working__item-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut, perferendis delectus eius ad neque nesciunt. Recusandae quae, sint illo corporis non dolor ipsum. Consequuntur necessitatibus reprehenderit animi obcaecati, dolorem quis quo, nemo, quasi repudiandae ipsam exercitationem. Sunt, laboriosam
						.type-working__item-title Благодійні акції
				.col-md-4.col-sm-6
					.type-working__item
						.type-working__itembox-img
							img(src="img/photostock.png", alt="")
							.type-working__item-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut, perferendis delectus eius ad neque nesciunt. Recusandae quae, sint illo corporis non dolor ipsum. Consequuntur necessitatibus reprehenderit animi obcaecati, dolorem quis quo, nemo, quasi repudiandae ipsam exercitationem. Sunt, laboriosam
						.type-working__item-title Благодійні акції
				.col-md-4.col-sm-6
					.type-working__item
						.type-working__itembox-img
							img(src="img/photostock.png", alt="")
							.type-working__item-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut, perferendis delectus eius ad neque nesciunt. Recusandae quae, sint illo corporis non dolor ipsum. Consequuntur necessitatibus reprehenderit animi obcaecati, dolorem quis quo, nemo, quasi repudiandae ipsam exercitationem. Sunt, laboriosam
						.type-working__item-title Благодійні акції
				.col-md-4.col-sm-6
					.type-working__item
						.type-working__itembox-img
							img(src="img/photostock.png", alt="")
							.type-working__item-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut, perferendis delectus eius ad neque nesciunt. Recusandae quae, sint illo corporis non dolor ipsum. Consequuntur necessitatibus reprehenderit animi obcaecati, dolorem quis quo, nemo, quasi repudiandae ipsam exercitationem. Sunt, laboriosam
						.type-working__item-title Благодійні акції
				.col-md-12
					.type-working__allitems-button
						a(class="help__button" href="#") Зв'язок
	section.stockwith-partners__wrapper
		.container
			.row
				.col-md-12
					h2.stockwith-partners__title Акції з партнерами
				.col-md-12
					.owl-carousel.stock-carousel
						.stock-item
							img.stock-item__img(src="img/photostock2.png", alt="")
							div.stock-item__box-info
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, necessitatibus. Voluptatibus, ad. Dolore dolor blanditiis minima, natus. Esse harum consequuntur, aut quo explicabo veritatis ipsum architecto hic odio voluptates? Quas magni, quaerat, saepe earum voluptatibus error quasi enim quibusdam aut iusto et labore ex ea voluptas. Placeat, reprehenderit esse repellendus, voluptatum ipsam repellat ullam. Eaque, similique, aut? Id corrupti sit minus laboriosam in, sapiente voluptatum, sint nemo animi necessitatibus vel eveniet magni voluptatem laborum magnam molestias iure harum praesentium architecto eaque expedita nulla natus! Sapiente magnam sit, earum vero incidunt officiis repellendus, optio vel fugit nam natus. Inventore, iste!
						.stock-item
							img.stock-item__img(src="img/photostock2.png", alt="")
							div.stock-item__box-info
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, necessitatibus. Voluptatibus, ad. Dolore dolor blanditiis minima, natus. Esse harum consequuntur, aut quo explicabo veritatis ipsum architecto hic odio voluptates? Quas magni, quaerat, saepe earum voluptatibus error quasi enim quibusdam aut iusto et labore ex ea voluptas. Placeat, reprehenderit esse repellendus, voluptatum ipsam repellat ullam. Eaque, similique, aut? Id corrupti sit minus laboriosam in, sapiente voluptatum, sint nemo animi necessitatibus vel eveniet magni voluptatem laborum magnam molestias iure harum praesentium architecto eaque expedita nulla natus! Sapiente magnam sit, earum vero incidunt officiis repellendus, optio vel fugit nam natus. Inventore, iste!
						.stock-item
							img.stock-item__img(src="img/photostock2.png", alt="")
							div.stock-item__box-info
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, necessitatibus. Voluptatibus, ad. Dolore dolor blanditiis minima, natus. Esse harum consequuntur, aut quo explicabo veritatis ipsum architecto hic odio voluptates? Quas magni, quaerat, saepe earum voluptatibus error quasi enim quibusdam aut iusto et labore ex ea voluptas. Placeat, reprehenderit esse repellendus, voluptatum ipsam repellat ullam. Eaque, similique, aut? Id corrupti sit minus laboriosam in, sapiente voluptatum, sint nemo animi necessitatibus vel eveniet magni voluptatem laborum magnam molestias iure harum praesentium architecto eaque expedita nulla natus! Sapiente magnam sit, earum vero incidunt officiis repellendus, optio vel fugit nam natus. Inventore, iste!
						.stock-item
							img.stock-item__img(src="img/photostock2.png", alt="")
							div.stock-item__box-info
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, necessitatibus. Voluptatibus, ad. Dolore dolor blanditiis minima, natus. Esse harum consequuntur, aut quo explicabo veritatis ipsum architecto hic odio voluptates? Quas magni, quaerat, saepe earum voluptatibus error quasi enim quibusdam aut iusto et labore ex ea voluptas. Placeat, reprehenderit esse repellendus, voluptatum ipsam repellat ullam. Eaque, similique, aut? Id corrupti sit minus laboriosam in, sapiente voluptatum, sint nemo animi necessitatibus vel eveniet magni voluptatem laborum magnam molestias iure harum praesentium architecto eaque expedita nulla natus! Sapiente magnam sit, earum vero incidunt officiis repellendus, optio vel fugit nam natus. Inventore, iste!
						.stock-item
							img.stock-item__img(src="img/photostock2.png", alt="")
							div.stock-item__box-info
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, necessitatibus. Voluptatibus, ad. Dolore dolor blanditiis minima, natus. Esse harum consequuntur, aut quo explicabo veritatis ipsum architecto hic odio voluptates? Quas magni, quaerat, saepe earum voluptatibus error quasi enim quibusdam aut iusto et labore ex ea voluptas. Placeat, reprehenderit esse repellendus, voluptatum ipsam repellat ullam. Eaque, similique, aut? Id corrupti sit minus laboriosam in, sapiente voluptatum, sint nemo animi necessitatibus vel eveniet magni voluptatem laborum magnam molestias iure harum praesentium architecto eaque expedita nulla natus! Sapiente magnam sit, earum vero incidunt officiis repellendus, optio vel fugit nam natus. Inventore, iste!
						.stock-item
							img.stock-item__img(src="img/photostock2.png", alt="")
							div.stock-item__box-info
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, necessitatibus. Voluptatibus, ad. Dolore dolor blanditiis minima, natus. Esse harum consequuntur, aut quo explicabo veritatis ipsum architecto hic odio voluptates? Quas magni, quaerat, saepe earum voluptatibus error quasi enim quibusdam aut iusto et labore ex ea voluptas. Placeat, reprehenderit esse repellendus, voluptatum ipsam repellat ullam. Eaque, similique, aut? Id corrupti sit minus laboriosam in, sapiente voluptatum, sint nemo animi necessitatibus vel eveniet magni voluptatem laborum magnam molestias iure harum praesentium architecto eaque expedita nulla natus! Sapiente magnam sit, earum vero incidunt officiis repellendus, optio vel fugit nam natus. Inventore, iste!
	include ../templates/footer.pug