extends ../default.pug
block pageContent
	include ../templates/header.pug

	section.news-item__wrapper
		.container
			.row
				.col-md-12
					h1.news-title__box Заголовок новости
				.col-md-12
					.news-item-img__box
						img(src="img/testbackground.png", alt="")
					.news-item-content__box
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ut fuga quas voluptate ratione atque commodi necessitatibus placeat distinctio, dolore similique molestiae repellendus voluptatum quasi expedita numquam dignissimos consectetur voluptatem nam dolores. Veniam aperiam voluptatum corrupti, tempora incidunt reprehenderit cupiditate ipsam consequatur quas, voluptas ad architecto, quis inventore exercitationem numquam natus, impedit. Ex temporibus, iusto! Dolores totam repellat eos voluptas dolore ducimus amet! Ea odio fuga, autem amet. Temporibus quam dolorem laboriosam facilis cupiditate magni, numquam. Inventore eveniet nisi ipsam. Porro dolor soluta placeat veritatis voluptatum accusamus, illo, omnis sunt iusto possimus rem repellendus, quidem officia? Et quod officiis laborum architecto fugiat inventore debitis ratione fugit accusantium saepe veniam quisquam, sit ea omnis accusamus sint unde iste distinctio, nobis laboriosam! Illum similique atque alias, architecto iure eos corporis vel tempora repudiandae fugiat, porro labore ad cum voluptate voluptates non laborum nobis tenetur. Molestiae distinctio iste, officiis velit animi ut id quos ipsam tenetur reiciendis adipisci temporibus rerum voluptatum libero laudantium doloribus, quae, pariatur mollitia unde quaerat tempore quidem. Minus neque, debitis tempore optio et, ea iste molestiae assumenda aliquam ducimus odio nostrum quisquam quidem suscipit fugit modi corporis rem dolor voluptatibus libero, iure perferendis soluta. Assumenda sit iusto, nobis nostrum.

	include ../templates/footer.pug