extends ../default.pug
block pageContent
	include ../templates/header.pug

	style.
		.active-programm__content p{
			overflow: unset;
			text-overflow: initial;
			white-space: unset;
		}
	script.
			var myData = localStorage['objectToPass'];
			var urlapi = localStorage['urlapi'];
			var firstData = myData;
			var url_home = urlapi;

			const url = url_home + '/api/ru/programs/' + firstData;
			fetch(url)
				.then(response => response.json())
				.then(data => {
						$('.active-programm-title__banner').html(data.title);
						$('.active-programm__content > p').html(data.content);
						$('.active-programm__banner').css('backgroundImage', 'url('+ data.image + ')');
						//-
						var haveprice = data.pay_limit;
						var havemaxprice = data.paid_sum;
						var readyprice= 100* haveprice/havemaxprice;
						var rounded = function(number){
							return +number.toFixed(0) + '%';
						}
						$('.active-programm-price__box p:first-child').html(rounded(readyprice));
						$('.active-programm-price__box p:nth-child(2)').html(Number(havemaxprice).toFixed(0) + 'грн');
						$('.active-priceblock__box').css({width: readyprice.toFixed(0) + '%'});
				});

	section.programm-item__wrapper
		.container
			.row
				.col-md-12
					.programm-item__box
						.programm-img__box
							.active-programm__banner
								p.active-programm-title__banner Медичний кабiнет
							div.programm-donate__box
								div.active-line-programm__box
									div.active-programm-price__box
										p 23%
										p 35 000 грн
									div.noneactive-priceblock__box
										.active-priceblock__box Зiбрано
								.help__box
									a(class="help__button" href="") Допомогти
						.active-programm__content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptas ipsa et, hic fuga optio minima illum nihil dolorum expedita tempore repellendus facilis est itaque debitis saepe molestiae distinctio inventore consequuntur labore aspernatur. Neque accusantium recusandae, laborum hic aspernatur reprehenderit necessitatibus molestiae id ipsa nesciunt eligendi fuga eum tempora ad explicabo veritatis nobis odit quam fugiat praesentium vero aut mollitia itaque minima voluptas! Iste quidem ab deleniti, a accusantium magni aliquam ad adipisci dolor sapiente nulla dolorem veritatis inventore dolore culpa voluptatem perferendis blanditiis ex, voluptatum nemo nostrum, beatae eius tempore? Doloribus esse a repellendus repudiandae dignissimos autem fugit ea commodi minima, vero ex, facere sequi enim recusandae excepturi adipisci nam atque molestiae assumenda quos tempore saepe. Repellat aperiam quia, delectus iusto impedit non, asperiores, autem exercitationem ipsam officia tempora ex atque odit facere. Corporis aliquid, dicta optio quisquam voluptates repellendus. Laboriosam, voluptatibus? Quo aliquam perferendis minima repellendus libero alias deserunt ipsum dolorem quidem. Ab dicta, laudantium repellendus id expedita quo, qui aperiam laborum modi magni at fuga praesentium perferendis eaque porro officia commodi deleniti tenetur nobis maiores ducimus ipsum excepturi aspernatur rerum atque. Inventore beatae, animi, facere molestias amet fugit repudiandae totam natus doloremque ut omnis rerum sed. Iste.
	include ../templates/footer.pug