extends ../default.pug
block pageContent
	include ../templates/header.pug

	script.
		var url_home = localStorage['urlapi'];
		const url = url_home + '/api/ru/news/';
		fetch(url)
		.then(response => response.json())
		.then(data => {
				for (var i = 0; i < data.results.length; i++) {

					var newpubdate = data.results[i].pub_date;

					newpubdate = newpubdate.replace('T',' ');

					var newsid = data.results[i].id;
					var newsdescription = data.results[i].content_ru;
					var newsbackground = data.results[i].image;

					$('.news__wrapper > .container > .row > .col-md-12:first-child').after(
						'<div class="col-md-3">'
						+ '<div class="news-item__box">'
							+	'<div class="news-item-data__box">' + newpubdate + '</div>'
								+ '<div class="news-item-banner__box" style="background: url(' + newsbackground + ');">'
									+ '<a id="' + newsid + '" class="news-item-banner-link" href="/item-news.html">Читати</a>'
								+ '</div>'
								+ '<div class="news-item-info__box">' + newsdescription + '</div>'
							+ '</div>'
						+ '</div>'
						);
				}
				$('.news-item-banner-link').click(function(event) {
					var myfirstDate = $(this).attr('id');
					var firstdata = myfirstDate;
					var myData = firstdata;
					localStorage.setItem( 'objectToPass', myData );
					localStorage.setItem( 'urlapi', url_home );
				});
				//

			});
	section.news__wrapper
		.container
			.row
				.col-md-12
					h2.news-title__box Новини

	include ../templates/footer.pug