extends ../default.pug
block pageContent
	include ../templates/header.pug
	section.active-programms__wrapper
		.container
			.row
				.col-md-12
					h2.active-programms-title__box Активнi програми
				.col-md-4
					.active-programm__box
						.active-programm__banner
							p.active-programm-title__banner Медичний кабiнет
						.active-programm__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, saepe!
							a(class="active-programm-link__content" href="#") Докладнiше
							div.active-programm-price__box
								p 23%
								p 35 000 грн
							div.noneactive-priceblock__box
								.active-priceblock__box Зiбрано
				.col-md-4
					.active-programm__box
						.active-programm__banner
							p.active-programm-title__banner Медичний кабiнет
						.active-programm__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, saepe!
							a(class="active-programm-link__content" href="#") Докладнiше
							div.active-programm-price__box
								p 23%
								p 35 000 грн
							div.noneactive-priceblock__box
								.active-priceblock__box Зiбрано
				.col-md-4
					.active-programm__box
						.active-programm__banner
							p.active-programm-title__banner Медичний кабiнет
						.active-programm__content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, saepe!
							a(class="active-programm-link__content" href="#") Докладнiше
							div.active-programm-price__box
								p 23%
								p 35 000 грн
							div.noneactive-priceblock__box
								.active-priceblock__box Зiбрано
	include ../templates/footer.pug