.type-working{
	&__wrapper{
		padding: 50px 0px;
	}
	&__title{
		padding: 0px 0px 50px 0px;
		text-align: center;
		font-family: Rubik-Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 59px;
		letter-spacing: 0.888889px;
		color: #4A4A4A;
	}
	&__allitems-button{
		text-align: center;
		margin-bottom: 20px;
		& a{
			display: inline-block;
		}
	}
	&__item{
		margin-bottom: 70px;
		&:hover{
			& .type-working__item-info{
				animation: item-info-up 300ms both;
			}
		}
		&-title{
			font-family: Rubik-Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 25px;
			line-height: 30px;
			text-align: center;
			letter-spacing: 0.444445px;
			color: #4A4A4A;
		}
	}
	&__itembox-img{
		overflow: hidden;
		max-width: 100%;
		max-height: 350px;
		border-radius: 25px;
		position: relative;
		margin-bottom: 30px;
		& img{
			width: 100%;
			object-fit: cover;
		}
	}
	&__item-info{
		animation: item-info-down 300ms both;
		position: absolute;
		background: #008C40;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		/**/
		height: 100%;
		max-height: inherit;
		width: 100%;
		font-family: Rubik-Regular;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.75px;
		color: #FFFFFF;
	}
}
.stockwith-partners{
	&__wrapper{
		padding: 60px 0px;
		background: #f7f7f7;
		mix-blend-mode: normal;
	}
	&__title{
		margin-bottom: 45px;
		font-family: Rubik-Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		line-height: 59px;
		text-align: center;
		letter-spacing: 0.888889px;
		color: #4A4A4A;
	}
}
.stock-item{
	margin:0 25px 50px;
	& p{
		font-family: Rubik-Medium;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.75px;
		color: #4A4A4A;
	}
	&__img{
		margin-bottom: 10px;
		width: 380px;
		height: 240px;
		object-fit: cover;
	}
	&__box-info{
		max-height: 80px;
		overflow: auto;
	}
}
/* carousel-dots*/
.stock-carousel{
	& .owl-dots{
		text-align: center;
	}
	& .owl-dot{
		background: rgba(0, 140, 64, 0.27) !important;
		border: 1px solid #008C40 !important;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		margin: 10px;
		&.active{
			background: #008C40 !important;
		}
	}
}
/**/
@keyframes item-info-up{
	0%{
		top:100%;
	}
	100%{
		top: 0%;
	}
}
@keyframes item-info-down{
	0%{
		top:0%;
	}
	100%{
		top: 100%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.banner-start__wrapper{
		height: 100vh !important;
	}
	.home-numeral-img__box{
		& p{
			font-size: 19px;
			line-height: 1;
		}
		& svg{
			width: 100%;
			height: 100%;
		}
	}
}