.banner-title__box {
	font-size: 26px;
	line-height: 1;
}
.banner-description__box{
	font-size: 13px;
	line-height: 1;
}
.banner-group-btn__box{
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	line-height: 1.5;
	& a:first-child{
		margin-bottom: 10px;
	}
}
.stockwith-partners__title{
	font-size: 40px;
	line-height: 1;
}
.stock-item{
	margin: 0px;
	margin-bottom: 20px;
}
.type-working__title{
	font-size: 40px;
	line-height: 1;
}
.banner-start__box-img{
	max-width: 300px;
	max-height: 300px;
	margin: 0 auto;
}