.banner-start__box-img{
	max-width: 350px;
	max-height: 350px;
	margin: 0 auto;
	& img{
		width: 100%;
		height: 100%;
	}
}
.banner-title__box{
	font-size: 40px;
	line-height: 1;
}
.banner-description__box{
	font-size: 16px;
	line-height: 1.2;
}
.banner-start__wrapper{
	// height: 100vh;
}
.banner-start__wrapper::before{
	// height: 140px;
}