@font-face {
	font-family: 'Rubik-Black';
	src: url(../fonts/Rubik/Rubik-Black.ttf);
}
@font-face {
	font-family: 'Rubik-Bold';
	src: url(../fonts/Rubik/Rubik-Bold.ttf);
}
@font-face {
	font-family: 'Rubik-Light';
	src: url(../fonts/Rubik/Rubik-Light.ttf);
}
@font-face {
	font-family: 'Rubik-Medium';
	src: url(../fonts/Rubik/Rubik-Medium.ttf);
}
@font-face {
	font-family: 'Rubik-Regular';
	src: url(../fonts/Rubik/Rubik-Regular.ttf);
}
//
@font-face {
	font-family: 'OpenSansBold';
	src: url(../fonts/Open-Sans/OpenSans-Bold.ttf);
}