@import "index/index";
@import "item-programms/item-programms";
@import "item-news/item-news";

@media (max-width: 1200px) {
    @import "index/index-max-1200";
}
@media (max-width: 992px) {
    @import "index/index-max-992";
}
@media (max-width: 767px) {
    @import "index/index-max-767";
}