footer
	.container
		.row
			.col-md-3
				img(src="img/angel-footer.png", alt="")
			.col-md-5
				p.footer-title Підписка на новини
				p.footer-txt.footer-title-description Комусь дуже потрібна твоя допомога!
				form(action="")
					div.footer-inputs__box
						input.footer-input-email(type="email" placeholder="Email")
						input.footer-submit(type="submit" value="Пiдписатись")
			.col-md-1
			.col-md-3
				p.footer-title Наші контакти
				p.footer-txt Україна, м.Київ, вул. бульвар Лесі Українки, 28- А,кв.302, 11-й під'їзд
				p.footer-txt +38-067-215-99-55
				p.footer-txt +38-044-300-12-58
				p.footer-txt info.charitymay@gmail.com
				div.footer-social__box
					a.footer-social-link(href="#")
						img(src="img/footer-insta.png", alt="")
					a.footer-social-link(href="#")
						img(src="img/footer-facebook.png", alt="")
			.col-md-12
				div.copyright__box
					div.footer-txt © 2019 Благотворительный фонд - “Благомай”
					div
						img(src="img/footer-gofriends.png", alt="")
script
	include ../../js/fetch.js